@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

body::before {
    content: "";
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 115deg, #3a3a9ecc, #8888ceb3), url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#description {
    font-style: italic;
}

.form-header {
    text-align: center;
    margin: 40px 0;
    font-size: 1.1rems;
}

#survey-form {
    background-color: #0011369d;
    margin: 0 10%;
    border-radius: 5px;
}

.form-item {
    margin: 0 30px;
    padding: 20px 0;
    font-size: 1.1rem;
}

.flexitem {
    display: flex;
}

.checkbox-item input {
    transform: scale(1.5);
    width: 20px;
}

.setinput {
    width: 100%;
    height: 2.7rem;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1rem;
}

.textinput {
    display: flex;
    width: 100%;
    border-radius: 5px;
}

#submit {
    width: 100%;
    height: 50px;
    font-weight: bolder;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #37af65;
    border-radius: 5px;
}